table {
    width: 100%;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 490px;
    margin-top: 48px;
}

.mat-row :hover {
    cursor: pointer;
}

.highlight {
    background-color: #F3E5F5;
    color: black;
}