<mat-card class="card">
    <mat-card-title>New Product Form</mat-card-title>
    <mat-card-subtitle>Create your own product</mat-card-subtitle>
    <mat-card-content>
        <form class="form" [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput #message maxlength="128" placeholder="Title of your product...">
                <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput #message maxlength="256" placeholder="Description of your product...">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>

            <mat-checkbox formControlName="published" matInput>Published</mat-checkbox>

            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-flat-button color="primary">Add</button>
                <button mat-flat-button color="secondary">Cancel</button>
            </mat-card-actions>
        </form>          
    </mat-card-content>
    
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
